<div class="container">
      <div class="col-md-12 margin-top-5per bg-white">
                  <h1 class="text-center">ブログの新規作成</h1>
        <%= image_tag '872c46f058550416a440803459926e1f_t.jpeg', class: 'article-img padding-top-15' %>
        <div class="padding-bottom-15">
          <%= render 'form',  article: @article %>
        </div>
      </div>
</div>

